.slider-wrapper {
  padding: 20px 0;
  padding-top: 10px;
  overflow-x: auto;
  overflow-y: hidden;
  position: relative;
  z-index: 5;
}
@media (min-width: 768px) {
  .slider-wrapper {
    padding: 40px 0;
    overflow: hidden;
  }
}
